<% provide(:title, "RobsTodo") %>
<div ng-controller="TodoCtrl">
  <h2 class="center">RobsTodo</h2>

  <form ng-submit="addTodo()">
    <input type="text" ng-model="entry.text" placeholder="What todo...?">
  </form>

  <ul class="todo-list">
    <li ng-repeat="todo in todos" ng-class="{completed: todo.done}">
      <input type="checkbox" class="toggle" ng-model="todo.done">
      <span class="todo-text">{{todo.text}}</span>
    </li>
  </ul>


</div>