<% provide(:title, "RobsTodo") %>
<div ng-controller="TodoCtrl">
  <h2 class="center">RobsTodo</h2>

  <form ng-submit="addTodo()">
    <input type="text" ng-model="entry.text" placeholder="What todo...?">
  </form>

  <ul class="todo-list">
    <li ng-repeat="todo in todos">
      <span>{{todo.text}}</span>
      <span>{{todo.done}}</span>
    </li>
  </ul>


</div>